@charset "UTF-8";


body{
    background-color: #626262;
    background-size: cover;
    background-attachment: fixed;
    display: block;
}

div#form_fundo{
    background-color: red;
    margin: 10% 25% 25% 25% ;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 5px 5px black;

}

div#form_frente{
    background-color: white;
    margin: 5px ;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 5px 5px black;
    padding: 30px;


}

button{
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #626262;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
    font-size: 40px;
    cursor: pointer;
}