/* Resetando margens e preenchimentos padrão */
body, html {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cinza */
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Centralizando o conteúdo horizontalmente */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para cada página */
/* Home */
.home {
    background-color: #f0f0f0;
}

/* Abrir Ticket */
.abrir_ticket {
    background-color: #ffcccc; 
}

/* Listar Tickets */
.listar_tickets {
    background-color: #ffffff; 
}

/* Login */
.login {
    background-color: #f0f0f0;
}
