<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Tickets Abertos</title>
</head>
<body>
    <h1>Tickets Abertos</h1>
    <ul>
        {% for ticket in tickets %}
            <li>{{ ticket.title }} - {{ ticket.description }} - Considerado: {% if ticket.considered %}Sim{% else %}Não{% endif %} - <a href="{{ url_for('considerar_ticket', ticket_id=ticket.id) }}">Considerar</a></li>
        {% endfor %}
    </ul>
</body>
</html>
