<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acompanhamento de Incidentes</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" href="../static/img/LogoPreto.png" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
  
</head>
<body>
  <section class="home">
    <!-- NAVBAR -->
    <header class="navbar">
      <div class="navbar-logo">
        <a href="/"> <img src="static/img/Logo.png" alt="Logo CNH Industrial" /> </a>
      </div>
      <nav class="navbar-nav">
        <ul>
          <li><a href="/acompanhamento">Acompanhamento de Incidentes</a></li>
          <li><a href="/">Sair</a></li>
        </ul>
      </nav>
    </header>

    <!-- Conteúdo -->
    <div class="card">
      <div class="title"><h1>Chamados</h1></div>

      <!-- Filtro -->
      <div class="filter">
        <label for="status-filter">Filtrar por status:</label>
        <select id="status-filter">
          <option value="todos">Todos</option>
          <option value="ABERTO">Aberto</option>
          <option value="EM ANALISE">Em Análise</option>
          <option value="ENCERRADO">Encerrados</option>
        </select>
      </div>

      <!-- Filtro de pesquisa -->
      <div class="filter">
        <label for="search-filter">Pesquisar por ID:</label>
        <input type="text" id="search-filter" placeholder="Digite o ID">
        <button class="search-button"><img src="../static/img/lupa.png" alt="Buscar"></button>
      </div>

      <div class="actions-bottom">
        <div class="extract-button"> <a href="/extrair_relatorio">Extrair Relatório</a></div>
       
      </div>

      <!-- Lista de tickets -->
      <div class="ticket-list">
        {% for ticket in tickets %}
        <div class="ticket {% if ticket[12] == 'ABERTO' %}ticket-open{% elif ticket[12] == 'EM ANALISE' %}ticket-analise{% else %}ticket-closed{% endif %}" id="ticket-{{ ticket[0] }}">
          <h2>CH-{{ ticket[0] }}</h2>
          <span class="status" id="status-{{ ticket[0] }}">{{ ticket[12] }}</span>
          <p>Assunto: {{ ticket[8] }}</p>
          <div class="ticket-actions">
            {% if ticket[12] == 'EM ANALISE' %}
            {% endif %}
            <a href="/ticket/{{ ticket[0] }}" class="view-button">Ver Detalhes</a>
            {% if ticket[12] == 'ABERTO' %}
            <button class="close-button" data-id="{{ ticket[0] }}">Encerrar</button>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </section>

  <script>
    document.getElementById('status-filter').addEventListener('change', function() {
      var status = this.value;
      var tickets = document.querySelectorAll('.ticket');
      tickets.forEach(function(ticket) {
        if (status === 'todos' || ticket.querySelector('.status').textContent === status) {
          ticket.style.display = 'block';
        } else {
          ticket.style.display = 'none';
        }
      });
    });
  
    document.querySelector('.search-button').addEventListener('click', function() {
      var searchValue = document.getElementById('search-filter').value;
      var tickets = document.querySelectorAll('.ticket');
      tickets.forEach(function(ticket) {
        if (ticket.querySelector('h2').innerText.includes(searchValue)) {
          ticket.style.display = 'block';
        } else {
          ticket.style.display = 'none';
        }
      });
    });
  
    
  
    document.getElementById('status-filter').addEventListener('change', function() {
      var status = this.value;
      var tickets = document.querySelectorAll('.ticket');
      tickets.forEach(function(ticket) {
        if (status === 'todos' || ticket.querySelector('.status').textContent === status) {
          ticket.style.display = 'block';
        } else if (status === 'EM ANALISE' && ticket.querySelector('.status').textContent.toUpperCase() === 'EM ANÁLISE') {
          ticket.style.display = 'block';
        } else {
          ticket.style.display = 'none';
        }
      });
    });
    
    document.querySelectorAll('.close-button').forEach(function(button) {
      button.addEventListener('click', function() {
        var ticketId = this.getAttribute('data-id');
        fetch('/encerrar_ticket/' + ticketId, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            var ticketElement = document.getElementById('ticket-' + ticketId);
            var statusElement = document.getElementById('status-' + ticketId);
            statusElement.textContent = 'ENCERRADO';
            ticketElement.classList.remove('ticket-open');
            ticketElement.classList.add('ticket-closed');
            button.remove(); // Remove o botão de encerrar
          }
        });
      });
    });
  </script>
  
</body>
</html>
