<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acompanhamento de Incidentes</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/LogoPreto.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
  </head>
  <body>
    <section class="home">
      <!-- NAVBAR -->
      <header class="navbar">
        <div class="navbar-logo">
          <form method="POST" action="/acompanhamento">
          <img src="../static/img/Logo.png" alt="Logo CNH Industrial" />
        </form>
        </div>
        <nav class="navbar-nav">
          <ul>
            <li><a href="/acompanhamento">Acompanhamento de Incidentes</a></li>
            <li><a href="/">Sair</a></li>
          </ul>
        </nav>
      </header>

      <!-- Conteúdo -->
      <div class="card">
        <div class="title"><h1>Tickets</h1></div>

        <!-- Filtro -->
        <div class="filter">
          <label for="status-filter">Filtrar por status: </label>
          <select id="status-filter">
            <option value="todos">Todos</option>
            <option value="ABERTO">Abertos</option>
            <option value="ENCERRADO">Encerrados</option>
          </select>
        </div>

        <!-- Filtro de pesquisa -->
        <div class="filter">
          <label for="search-filter">Pesquisar por ID:</label>
          <input type="text" id="search-filter" placeholder="Digite o ID">
          <button class="search-button"><img src="../static/img/lupa.png" alt="Buscar"></button>
        </div>

        <!-- Lista de tickets -->
        <div class="ticket-list">
          {% for ticket in tickets %}
          <div class="ticket {% if ticket.status == 'ABERTO' %}ticket-open{% else %}ticket-closed{% endif %}">
            <h2>Ticket #{{ ticket.CD_TICKET_ID }}</h2>
            <span class="status" id="status-{{ ticket.status|lower }}">{{ ticket.status }}</span>
            <p>Assunto: {{ ticket.DS_PROBLEMA }}</p>
            <div class="ticket-actions">
              <a href="/ticket/{{ ticket.CD_TICKET_ID }}" class="view-button">Ver Detalhes</a>
              {% if ticket.status == 'ABERTO' %}
              <form method="POST" action="/ticket/{{ ticket.CD_TICKET_ID }}/cancelar">
                <button class="cancel-button" type="submit">Cancelar</button>
              </form>
              <form method="POST" action="/ticket/{{ ticket.CD_TICKET_ID }}/encerrar">
                <button class="close-button" type="submit">Encerrar</button>
              </form>
              {% else %}
              <form method="POST" action="/ticket/{{ ticket.CD_TICKET_ID }}/extrair">
                <button class="extract-button" type="submit">Extrair Relatório</button>
              </form>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <script>
      document.getElementById('status-filter').addEventListener('change', function() {
        var status = this.value;
        var tickets = document.querySelectorAll('.ticket');
        tickets.forEach(function(ticket) {
          if (status === 'todos') {
            ticket.style.display = 'block';
          } else if (ticket.querySelector('.status').id === 'status-' + status.toLowerCase()) {
            ticket.style.display = 'block';
          } else {
            ticket.style.display = 'none';
          }
        });
      });

      document.querySelector('.search-button').addEventListener('click', function() {
        var searchValue = document.getElementById('search-filter').value;
        var tickets = document.querySelectorAll('.ticket');
        tickets.forEach(function(ticket) {
          if (ticket.querySelector('h2').innerText.includes(searchValue)) {
            ticket.style.display = 'block';
          } else {
            ticket.style.display = 'none';
          }
        });
      });
    </script>
  </body>
</html>
