<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Informações</title>
    <link rel="shortcut icon" href="static/img/LogoPreto.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="static/css/relatorio.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>
<body>
    <section class="home">
        <!-- NAVBAR -->
        <header class="navbar">
          <div class="navbar-logo">
            <a href="Index.html"> <img src="static/img/Logo.png" alt="Logo CNH Industrial" /> </a>
          </div>
          <nav class="navbar-nav">
            <ul>
              <li><a href="/acompanhamento">Acompanhamento de Incidentes</a></li>
              <li><a href="/">Sair</a></li>
            </ul>
          </nav>
        </header>

        <div class="card-extrair">
            <h1 class="title">Relatórios</h1>

            <div class="container-filter">
              <div class="filter">
                  <label for="filter-start-date">Data de Início:</label>
                  <input type="date" id="filter-start-date" name="filter-start-date">
                  <label for="filter-end-date" style="margin-left: 10px;">Data de Fim:</label>
                  <input type="date" id="filter-end-date" name="filter-end-date">
                  <button id="filter-button">Filtrar</button>
              </div>
              
              <button id="download-button">Download</button>
          </div>
          <div class="filter">
            <label for="status-filter">Filtrar por status:</label>
            <select id="status-filter">
              <option value="todos">Todos</option>
              <option value="ABERTO">Aberto</option>
              <option value="EM ANALISE">Em Análise</option>
              <option value="ENCERRADO">Encerrado</option>
            </select>
          </div>
    
            <!-- Tabela para exibir os dados -->
            <table>
                <thead>
                    <tr> 
                        <th>Chamado</th>
                        <th>Tipo</th>
                        <th>Usuário</th>
                        <th>Matrícula</th>
                        <th>Área</th>
                        <th>Posto</th>
                        <th>Origem</th>
                        <th>Classificação</th>
                        <th>Problema</th>
                        <th>Responsável</th>
                        <th>Status</th>
                        <th>Data de Emissão</th>
                    </tr>
                </thead>
                <tbody id="tickets-table">
                    <!-- Iterar sobre os dados passados e exibi-los na tabela -->
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket[0] }}</td>
                            <td>{{ ticket[1] }}</td>
                            <td>{{ ticket[2] }}</td>
                            <td>{{ ticket[3] }}</td>
                            <td>{{ ticket[4] }}</td>
                            <td>{{ ticket[5] }}</td>
                            <td>{{ ticket[6] }}</td>
                            <td>{{ ticket[7] }}</td>
                            <td>{{ ticket[8] }}</td>
                            <td>{{ ticket[9] }}</td>
                            <td>{{ ticket[10] }}</td>
                            <td data-date="{{ ticket[11] }}">{{ ticket[11] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script>
        // Função para converter datas no formato dd/mm/yyyy para yyyy/mm/dd
        function formatDate(dateStr) {
            const [day, month, year] = dateStr.split('/');
            return `${year}-${month}-${day}`;
        }

        document.getElementById('filter-button').addEventListener('click', function() {
            const startDate = document.getElementById('filter-start-date').value;
            const endDate = document.getElementById('filter-end-date').value;
            const rows = document.querySelectorAll('#tickets-table tr');

            rows.forEach(row => {
                const dateCell = row.querySelector('[data-date]');
                if (dateCell) {
                    const date = dateCell.getAttribute('data-date'); // dd/mm/yyyy
                    const rowDate = formatDate(date); // yyyy-mm-dd

                    const start = startDate ? new Date(startDate) : null;
                    const end = endDate ? new Date(endDate) : null;
                    const formattedRowDate = new Date(rowDate);

                    if ((start && formattedRowDate < start) || (end && formattedRowDate > end)) {
                        row.style.display = 'none';
                    } else {
                        row.style.display = '';
                    }
                }
            });
        });

        document.getElementById('download-button').addEventListener('click', function() {
            window.location.href = '/extrair_relatorio_csv';
        });

        document.getElementById('status-filter').addEventListener('change', function() {
            const selectedStatus = this.value;
            const rows = document.querySelectorAll('#tickets-table tr');
    
            rows.forEach(row => {
                const statusCell = row.querySelector('td:nth-child(11)'); // Seleciona a célula de status
                if (statusCell) {
                    const status = statusCell.textContent.trim(); // Obtém o status da célula
    
                    if (selectedStatus === 'todos') {
                        row.style.display = ''; // Mostra todas as linhas se "Todos" for selecionado
                    } else {
                        if (selectedStatus === status) {
                            row.style.display = ''; // Mostra a linha se o status selecionado corresponder ao status da linha
                        } else {
                            row.style.display = 'none'; // Oculta a linha se o status selecionado não corresponder ao status da linha
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
