<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Incidentes</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/LogoPreto.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <script>
      // Função para bloquear caracteres não numéricos
      function validateNumberInput(event) {
        const char = String.fromCharCode(event.which);
        if (!(/[0-9]/.test(char))) {
          event.preventDefault();
        }
      }

      // Função para bloquear caracteres não alfabéticos
      function validateLetterInput(event) {
        const char = String.fromCharCode(event.which);
        if (!(/[a-zA-Z\s]/.test(char))) {
          event.preventDefault();
        }
      }

      // Adiciona os eventos de bloqueio ao carregar a página
      document.addEventListener('DOMContentLoaded', function() {
        const matriculaInput = document.getElementById('matricula');
        matriculaInput.addEventListener('keypress', validateNumberInput);

        const nomeInput = document.getElementById('nome');
        nomeInput.addEventListener('keypress', validateLetterInput);
      });
    </script>
  </head>
  <body>
    <section class="home">
      <header class="navbar">
        <div class="navbar-logo">
          <img src="../static/img/Logo.png" alt="Logo CNH Industrial" />
        </div>
        <nav class="navbar-nav">
          <ul>
            <li><a href="/">Registro de Incidentes</a></li>
            <li><a href="/login">Entrar</a></li>
          </ul>
        </nav>
      </header>
      <div class="card">
        <h1 class="title">Registro de Incidentes</h1>
        <form id="incident-form" method="POST" action="/">
          {{ form.hidden_tag() }}
    
          <div class="form-group">
            <label>Tipo do Incidente:</label>
            {{ form.tipo }}
          </div>

          <div class="form-group">
            {{ form.usuario.label }}
            <!-- Adicione um id ao campo de nome -->
            {{ form.usuario(id='nome') }}
          </div>

          <div class="form-group">
            {{ form.matricula.label }}
            <!-- Adicione um id ao campo de matrícula -->
            {{ form.matricula(id='matricula') }}
          </div>

          <div class="form-group">
            {{ form.area.label }}
            {{ form.area }}
          </div>

          <div class="form-group">
            {{ form.posto.label }}
            {{ form.posto }}
          </div>

          <div class="form-group">
            {{ form.origem.label }}
            {{ form.origem }}
          </div>

          <div class="form-group">
            <label>Classificação:</label>
            {{ form.classificacao }}
          </div>

          <div class="form-group">
            {{ form.problema.label }}
            {{ form.problema }}
          </div>

          <div class="form-group">
            {{ form.acao.label }}
            {{ form.acao }}
          </div>

          <div class="form-group">
            {{ form.solucao.label }}
            {{ form.solucao }}
          </div>

          <div class="form-group">
            {{ form.responsavel.label }}
            {{ form.responsavel }}
          </div>

          <button class="form-send" type="submit">Registrar</button>
        </form>
      </div>
    </section>
  </body>
</html>
