<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizar Ticket</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/img/LogoPreto.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <style>
    </style>
</head>
<body>
    <section class="home">
        <!-- NAVBAR -->
        <header class="navbar">
            <div class="navbar-logo">
                <a href="/"> <img src="../static/img/Logo.png" alt="Logo CNH Industrial" /> </a>
            </div>
            <nav class="navbar-nav">
                <ul>
                    <li><a href="/acompanhamento">Acompanhamento de Incidentes</a></li>
                    <li><a href="/">Sair</a></li>
                </ul>
            </nav>
        </header>

        <!-- DETALHES DO TICKET-->
        <div class="ticket-details">
            <div class="actions-top">
                <a href="/acompanhamento" class="back-button">Voltar</a>
            </div>

            <h1 class="title">Detalhes do INC-{{ ticket[0] }}</h1>

            <div id="ticketStatus" class="ticket-details-1">{{ ticket[12] }}</div>

            <div class="detail">
                <div class="label">Número de Registro do Ticket:</div>
                <div class="value">{{ ticket[0] }}</div>
            </div>

            <div class="detail">
                <div class="label">Tipo:</div>
                <div class="value">{{ ticket[1] }}</div>
            </div>

            <hr />
            <div class="detail">
                <div class="label">Nome:</div>
                <div class="value">{{ ticket[2] }}</div>
            </div>

            <div class="detail">
                <div class="label">Matrícula:</div>
                <div class="value highlighted">{{ ticket[3] }}</div>
            </div>

            <hr />
            <div class="detail">
                <div class="label">Área do Problema:</div>
                <div class="value">{{ ticket[4] }}</div>
            </div>

            <div class="detail">
                <div class="label">Posto de trabalho:</div>
                <div class="value">{{ ticket[5] }}</div>
            </div>

            <div class="detail">
                <div class="label">Origem:</div>
                <div class="value">{{ ticket[6] }}</div>
            </div>

            <div class="detail">
                <div class="label">Classificação:</div>
                <div class="value">{{ ticket[7] }}</div>
            </div>

            <hr />
            <div class="detail">
                <div class="label">Descrição do Problema:</div>
                <div class="value">{{ ticket[8] }}</div>
            </div>

            <div class="detail">
                <div class="label">Ação Imediata:</div>
                <div class="value">{{ ticket[9] }}</div>
            </div>

            <div class="detail">
                <div class="label">Solução Proposta:</div>
                <div class="value">{{ ticket[10] }}</div>
            </div>

            <div class="detail">
                <div class="label">Responsável:</div>
                <div class="value">{{ ticket[11] }}</div>
            </div>

            <div class="detail">
                <div class="label">Data de Emissão:</div>
                <div class="value" id="dataEmissao">{{ ticket[13] }}</div>
            </div>

            <div class="actions-bottom">
                {% if ticket[12] != 'ABERTO' and ticket[12] != 'ENCERRADO' %}
                <button id="openButton" class="open-button" data-id="{{ ticket[0] }}">Abrir</button>
                {% endif %}

                {% if ticket[12] != 'ENCERRADO' %}
                <form id="closeTicketForm" method="POST" action="/encerrar_ticket/{{ ticket[0] }}">
                    <button type="submit" class="close-button">Encerrar</button>
                </form>
                {% endif %}
                <form method="POST" action="/cancelar_ticket/{{ ticket[0] }}">
                    <button type="submit" class="cancel-button">Cancelar</button>
                </form>
            </div>
            
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var ticketStatusElement = document.getElementById('ticketStatus');
                    var status = ticketStatusElement.textContent.trim().toUpperCase();
                
                    if (status === 'ABERTO') {
                        ticketStatusElement.classList.add('ticket-aberto');
                    } else if (status === 'EM ANALISE') {
                        ticketStatusElement.classList.add('ticket-em-analise');
                    } else if (status === 'ENCERRADO') {
                        ticketStatusElement.classList.add('ticket-encerrado');
                    }

                    // Função para formatar a data e hora no formato dd/mm/yyyy HH:MM
                    function formatarDataHora(dataHora) {
                        var partesDataHora = dataHora.split(' ');
                        var partesData = partesDataHora[0].split('-');
                        var partesHora = partesDataHora[1].split(':');
                        return partesData[2] + '/' + partesData[1] + '/' + partesData[0] + ' ' + partesHora[0] + ':' + partesHora[1];
                    }

                    // Formatar a data de emissão
                    var dataEmissaoElement = document.getElementById('dataEmissao');
                    var dataEmissao = dataEmissaoElement.textContent.trim();
                    dataEmissaoElement.textContent = formatarDataHora(dataEmissao);
                });

                document.getElementById('closeTicketForm').addEventListener('submit', function(event) {
                    event.preventDefault(); // Previne a submissão padrão do formulário
                    var form = this;
                    var xhr = new XMLHttpRequest();
                    xhr.open(form.method, form.action, true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.onload = function() {
                        if (xhr.status >= 200 && xhr.status < 400) {
                            // Se a resposta do servidor for bem-sucedida, atualize o status e remova o botão "Encerrar"
                            var ticketStatusElement = document.getElementById('ticketStatus');
                            ticketStatusElement.textContent = 'ENCERRADO';
                            ticketStatusElement.classList.remove('ticket-aberto', 'ticket-em-analise');
                            ticketStatusElement.classList.add('ticket-encerrado');
                            document.querySelector('.close-button').remove();
                            document.querySelector('.open-button').remove();
                        } else {
                            // Caso haja um erro na resposta do servidor
                            console.error('Erro ao encerrar o ticket:', xhr.responseText);
                        }
                    };
                    xhr.send(new URLSearchParams(new FormData(form)).toString());
                });

                document.querySelectorAll('#openButton').forEach(function(button) {
                    button.addEventListener('click', function() {
                        var ticketId = this.getAttribute('data-id');
                        fetch('/abrir_ticket/' + ticketId, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                var statusElement = document.getElementById('ticketStatus');
                                statusElement.textContent = 'ABERTO';
                                statusElement.classList.remove('ticket-encerrado', 'ticket-em-analise');
                                statusElement.classList.add('ticket-aberto');
                                this.remove(); // Remove o botão de abrir
                            }
                        });
                    });
                });
            </script>
        </div>
    </section>
</body>
</html>
